*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #000;
}
/* #box{
    height: 300px;
    width: 300px;
    background-color: chartreuse;
}
@media (max-width:700px) and (min-width:500px) {
    #box{
        height: 200px;
        width: 200px;
        background-color: aqua;
        border-radius: 50%;
    }
} */


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 10px 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.nav1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px

}
.nav1 h6{
    font-size: 17px;
    width: 50px;
}
.nav2 h4{
    font-size: 17px;
    width: 100px;
}
.nav2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:35px;
}
.nav1 img{
height: 50px;

}
.nav2 h5{
    font-size: 20px;
    display: none;
}

@media (max-width:600px) {

    nav{
        padding: 15px;
    }
    
    .nav1 img{
        height: 35px;
    }
    .nav1 h6{
        font-size: 11px;
    }
    .nav2 h4{
    display: none;
}
.nav2 h5{
    display: block;
}
}

